// By default Chakra-ui already have a reset definition, this is for additional rules

// Remove input icons in Edge
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

::-ms-reveal {
  display: none;
}

body,
html {
  height: 100%;
}
